// ===
// Components > Icons
// ===

$icon-size: $font-size-base !default;
$icon-color: $color-text !default;

.c-icon {
	display: inline-block;
	font-size: 0;
	width: $icon-size;
	height: $icon-size;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

	fill: $icon-color;

	h1 &,
	h2 &,
	h3 &,
	h4 &,
	h5 &,
	h6 & {
		margin-right: $icon-size / 2;
	}
}
