// ===
// Components > Header
// ===

$header-font-size: 3.4rem !default;

.c-header {
	text-align: center;
	flex-basis: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include respond-to(tablet) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 0;
	}

	@include respond-to(desktop) {
		flex-basis: $page-main-width;
	}

	&__image {
		margin: 0 auto 3rem;
		flex-shrink: 0;

		@include respond-to(tablet) {
			margin: 0;
		}
	}

	&__content {
		@include respond-to(tablet) {
			text-align: right;
		}
	}

	&__title {
		font-size: $header-font-size;

		&__part {
			display: block;
		}
	}

	&__scroll-down {
		font-size: 5rem;
		text-decoration: none;
		color: $color-text;

		@include respond-to(tablet) {
			display: none;
		}
	}
}
