// ===
// Components > Icons
// ===

$icon-size: 1em !default;
$icon-color: $color-text !default;

.c-icon {
	display: inline-block;
	width: $icon-size;
	height: $icon-size;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: -10%;

	fill: $icon-color;

	h1 &,
	h2 &,
	h3 &,
	h4 &,
	h5 &,
	h6 & {
		margin-right: $icon-size / 2;
	}
}
