// ===
// Settings > Typography
// ===

$font-serif:      serif !default;
$font-sans-serif: 'Aller', sans-serif !default;
$font-monospace:  'Courier', monospace !default;

$font-size-large:   19px !default;
$font-size-base:    16px !default;
$font-size-medium:  14px !default;
$font-size-small:   12px !default;
$font-size-tiny:    12px !default;

$font-weight-light:   300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold:    700 !default;

$line-height-base:    1.2 !default;

$path-fonts: '/assets/fonts/' !default;
