---
layout: default
---

{% if page.header %}
    <header class="o-row c-header">
        <div class="c-avatar c-header__image">
            <img src="/assets/img/me.jpg" alt="{{ site.title }}" class="c-avatar__image">
        </div>

        <section class="c-header__content">
            <h1 class="c-header__title">
                <span class="c-header__title__part">{{ site.data.personal.first_name }}</span>
                <span class="c-header__title__part u-bold">{{ site.data.personal.last_name }}</span>
            </h1>

            <h2>{{ site.data.personal.title }}</h2>
        </section>
    </header>
{% endif %}

<main>
    <section id="experience" class="c-timeline">
        <h3 class="c-timeline__title">Ervaring</h3>
        <dl class="c-timeline__list">
            {% for item in site.data.experience %}
                <dt class="c-timeline__period">{{ item.end }}<br/>{{ item.start }}</dt>
                <dd>
                    <article class="c-timeline__item">
                        <h4 class="c-timeline__item__title">{{ item.title }}</h4>
                        <div>
                            <a href="{{ item.url }}" target="_blank">{{ item.employer }}</a>
                            <span>{{ item.location }}</span>
                        </div>

                        <p>In de rol van consultant pik ik snel de nieuwste technologieën op de markt op. Bij Pàu krijg ik de kans om mezelf te ontplooien als developer en op technisch vlak expertise op te bouwen.</p>
                    </article>

                </dd>
            {% endfor %}
        </dl>
    </section>
</main>

<aside>

</aside>
