---
layout: default
---

{% if page.header %}
    <header class="o-row c-header">
        <div class="c-avatar c-header__image">
            <img src="/assets/img/me.jpg" alt="{{ site.title }}" class="c-avatar__image">
        </div>

        <section class="c-header__content">
            <h1 class="c-header__title">
                <span class="c-header__title__part">{{ site.data.personal.first_name }}</span>
                <span class="c-header__title__part u-bold">{{ site.data.personal.last_name }}</span>
            </h1>

            <h2>{{ site.data.personal.title }}</h2>
        </section>
    </header>
{% endif %}

<main>
    <section id="experience" class="c-timeline">
        <h3 class="c-timeline__title">Ervaring</h3>
        <dl class="c-timeline__list">
            {% for item in site.data.experience %}
                <dt class="c-timeline__period">{{ item.end }}<br/>{{ item.start }}</dt>
                <dd>
                    <article class="c-timeline__item">
                        <h4 class="c-timeline__item__title">{{ item.title }}</h4>
                        <div class="c-timeline__item__details">
                            {% if item.url %}
                                <a href="{{ item.url }}" target="_blank">{{ item.employer }}</a>
                            {% else %}
                                <span>{{ item.employer }}</span>
                            {% endif %}

                            <span>
                                <i data-icon="marker"></i>
                                {{ item.location }}
                            </span>
                        </div>

                        <p>{{ item.description }}</p>
                    </article>

                </dd>
            {% endfor %}
        </dl>
    </section>
</main>

<aside>
    <h3>
        <i data-icon="person"></i>
        Over mezelf
    </h3>

    <p>Als developer ga ik regelmatig op zoek naar nieuwe tools/technieken om uit te proberen. Door de gezondemix tussen front- en backend ervaring, vind ik het erg belangrijk om een goed afgewerkt, getest eindproduct af te leveren.</p>
    <p>In mijn vrije tijd ben ik vooral bezig met muziek en ik ga ook regelmatig zwemmen.</p>
</aside>
